 #title{
    display: flex;
    justify-content: center;
    color: black;
}

.paragrafos{
    position: relative;
    left: 40%;
    top: 15px;
   color: black;
}

.camposDeTexto{
    position: relative;
    left: 40%;
    width: 300px; 
    height: 30px;  
    border-radius: 5px;
    font-size: 16px; 
    padding: 10px; 
}
.passoword{
    position: relative;
    width: 300px;
    margin: 0 auto;
}  
#mostrarSenha{
    position: relative;
    display: flex;
    left: 37%;
    top: 32%;
}

#btnEntrar{
    background-color: rgb(31, 105, 192);
    position: relative;
    left: 40%;
    width: 324px;  
    height: 40px; 
    border-radius: 5px;
    font-size: 16px; 
}
#outrasFormas{
    position: relative;
    left: 46%;
    color: blue;
}

#EsqueciSenha{
    position: relative;
    left: 40%;
    color: blue;
}

#exibirResultado{
    position: relative;
    left: 45%;
    top: 40%;
}
 