.imagem{

    background-image: url('apresentation_img.png');
    background-size: auto;
    background-position: center;
    display: flex;
    position: relative;
    border-radius: 20px;
    top: 50px;
    left: 200px;
    height: 700px;
    width: 650px;
}

#titulo{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 120px;
    top: 35px;
    font-family: "Galada", cursive;
    font-weight: 200;
    font-size: 110px;
    color:#FDFDFD;
}

#subtitulo{
    position: relative;
    left: 10px;
    top: 120px;
    display: flex;
    flex-direction: row;
    font-family: 'Hubballi', cursive;
    color:#FDFDFD;
}
