.imagem{
    background-image: url('../assets/apresentation_img.png');
    background-size: auto;
    background-position: center;
    display: flex;
    position: fixed;
    border-top-left-radius: 20px;
    border-end-start-radius: 20px;
    top: 80px;
    left: 1px;
    height: 704px;
    width: 657.44px;
}

.title{
color:#FDFDFD;
}

#titulo{
    position: relative;
    display: flex;
    left: 58px;
    top: 40px;
    font-family: "Galada", cursive;
    font-weight: 400;
    line-height: 20px;
    font-size: 120px;
}

#subtitulo{
    position: relative;
    display: flex;
    left: 58px;
    top: -40px;
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

#textoRodape{
    position: absolute;
    display: flex;
    left: 135px;
    top: 580px;
    Width: 506.24px;
    height:29px;
    font-family: "Galada", cursive;
    font-weight: 400;
    font-size: 40px;
    color:#FDFDFD;
}

#linhas{
    position: absolute;
    display: flex;
    left: 48px;
    top:  388px;
}
